/* alvo direto dentro do container para evitar conflito com bootstrap global */
.table-container thead,
.table-container thead th{
    background-color: #003366 !important;
    color: #fff !important;
}

.table-container thead{
    border-radius: 5px;
}

/* Ocupa altura total da tela e impede scroll da página */
.main-content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px); /* ajusta ao tamanho da tela menos o header */
    overflow: hidden ;
}

/* formulario fixo no topo da tabela rolável */
.form{
    margin-bottom: 12px;
}


/* Mantém o tabela com scroll interno */
.table-container{
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Cabeçalhos fixo e colorido */
.table-container thead th{
    background-color: #003366 !important;
    color: #fff !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* scrollbar personalizada */
.table-container::-webkit-scrollbar{
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb:hover{
    background-color: #666;
}

/* Ajusta botões */
.btn-sm i{
    font-size: 10px
}